/*Login page*/

.Logoname_contaier {
    display: flex;
  
    align-items: "center";
    margin: 20px;
  }
  .Logoname_contaier_1 {
    display: flex;
    gap: 25px;
    align-items: center;
  
    width: 100%;
  }
  .Logoname_contaier_2 {
    display: flex;
    width: 40%;
    align-items: center;
  }
  .schoolname {
    font-size: 20px;
    
  }
  .schoolname1{
    
    font-size: 20px;
  }
  .Login-container_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    flex-direction: column;
    gap: 10px;
  }
  .Login-container {
    background-color: white;
    height: 310px;
    width: 300px;
    border-radius: 30px;
    border: 1px solid black;
  }
  
  .Logoname_contaier_3 {
    position: absolute;
    font-weight: 500;
    margin-top: 37%;
    margin-left: 15px;
  }
  .full-container {
    position: relative;
  }
  .input {
  
    padding: 8px;
    border-radius: 15px;
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid black;
    text-align: center;
  
  }
  .btn{
    padding: 10px;
    width: 70px;
    background-color: #A5C2E0;
    box-shadow: none !important;
    outline: none !important;
    border:none;
    border-radius: 5px;
    font-size: medium;
    
  }
  
  .btn-1{
    padding: 10px;
    width: 70px;
    background-color:#22C55E;
    box-shadow: none !important;
    outline: none !important;
    border:none;
    border-radius: 5px;
    font-size: medium;
    color: white;
    
  }
  