/* Add Announcements */

.Add__Announcements__title {
  font-size: 24px;
  text-align: left;
  margin-left: 2%;
  margin-top: 3%;
}

/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Add_Announcements {
  padding: 20px;
  margin-left: 23%;
  width: 60%;
}

/* Form styles */
.form-container {
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 150%;
}

.form-row label {
  width: 120px;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
}

.input-field {
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  flex: 1;
}

.send-button {
  background-color: #4F46E5;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-bottom: 10px;
  display: block;
  margin-right: 0;
  margin-top: 10px;
}

.send-button-container {
  background-color: #4F46E5;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-bottom: 10px;
  display: block;
  margin-right: 79%;
  margin-top: 10px;
  
  
}

/* Cards container */
.cards-container-a_and_t {
  width: 151%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 10px;
  position: relative; /* For positioning the button */
}

/* Individual Card Styling */
.card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Card Actions (Edit and Delete Buttons) */
.card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-top: 10px;
}

.edit-button,
.delete-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 0.8em;
}

.edit-button:hover {
  background-color: #0056b3;
}

.delete-button:hover {
  background-color: #dc3545;
}

/* Card Text Styling */
.card h3 {
  margin-top: 6%;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.card p {
  margin-bottom: 8px;
}

.card span {
  font-size: 0.75em;
  color: #777;
}

/* Card Icon Styling */
.card-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  
  font-size: 1.5em;
  color: #888;
}
