/* App.css */


.container-add-exam {
  width: 110%;
  margin-left: 8%;
  /* margin: 20px auto; */
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  border-radius: 5px;
  
 }
 .container-add-exam-1{
  position: relative;
 }
 
 .container-add-exam table {
  width: 80%;
  border-collapse: collapse;
  
 }
 
 
 .container-add-exam td {
  
  padding: 1px;
  border: none;
 }
 
 
 .Add_exam_title {
  
  margin-left: 2%;
  margin-top: 3%;
  font-size: 24px;
  margin-bottom: 1%;
 }
 
 
 .form-group {
  display: flex;
  align-items: center;
  
  margin-bottom: 1px;
 }
 
 
 .form-group label {
  width: 150px;
  text-align: right;
  margin-right: 10px;
  color: #555;
  font-size: 14px;
 }
 
 
 .form-group input[type="text"],
 .form-group select {
  padding: 3px;
  border: 1px solid #ddd;
  border-radius: 4px;
  flex: 1;
  max-width: 200px;
  box-sizing: border-box; /* Ensure padding doesn't affect width */
 }
 
 
 .form-group .input-wrapper {
  display: flex;
  flex: 1;
  max-width: 200px;
  align-items: center;
 }
 
 
 .form-group .input-wrapper input[type="text"] {
  flex: 1;
  border-radius: 4px 0 0 4px;
  border-right: none;
  box-sizing: border-box; /* Ensure padding doesn't affect width */
 }
 
 
 .form-group .input-wrapper .calendar-icon {
  background-color: #eee;
  border: 1px solid #ddd;
  border-left: none;
  border-radius: 0 4px 4px 0;
  padding: 8px;
  cursor: pointer;
  color: #555;
 }
 
 
 .buttons {
  text-align: center;
  margin-top: 10px;
  position: absolute;
  bottom: 102%;
  left: 73%;
 }
 
 
 .buttons button {
  padding: 1px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 10px;
  color: white;
  font-size: 16px;
 }
 
 
 .buttons .submit {
  background-color: #4F46E5;
 }
 
 
 .buttons .reset {
  background-color:#FF0000;
 }
 
 
 /* Responsive adjustments */
 @media (max-width: 768px) {
  .container-add-exam {
   width: 95%;
   padding: 10px;
  }
 
 
  .container-add-exam table {
   display: block;
   overflow-x: auto;
  }
 
 
  .container-add-exam td {
   width: 10%;
   display: block;
  }
 
 
  .form-group {
   flex-direction: column;
   align-items: flex-start;
  }
 
 
  .form-group label {
   text-align: left;
   width: 100%;
   margin-bottom: 5px;
  }
 
 
  .form-group input[type="text"],
  .form-group select,
  .form-group .input-wrapper {
   width: 100%;
   max-width: none;
  }
 }
 