/* Search Teacher */

.search-teacher__title{
  font-size: 32px;
  text-align: left; /* Align title to the left */
  margin-left: 2%; /* Reset margin for the title */
  margin-top: 3%;
}
  
  .search-teacher__search-input {
    padding: 8px;
    border-radius: 15px;
    border: 2px solid #d1d0d0;
    width: 30%;
    margin-bottom: 10px;
  }
  
  .search-teacher__header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
    width: 100%;
    margin-top: 3%;
    
  }
  
  .search-teacher__export-button,
  .search-teacher__action-button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #4f46e5;
    color: white;
    cursor: pointer;
  }
  
  .search-teacher__table-header table,
  .search-teacher__exam-type-selector table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .search-teacher__table-header th,
  .search-teacher__exam-type-selector th {
    text-align: left;
    padding: 8px;
  }
  
  .search-teacher__table-header-text,
  .search-teacher__selector-text-data {
    font-weight: bold;
  }
  
  .search-teacher__exam-type-selector select {
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .search-teacher__action-button--normal{
    padding: 5px;
  
    height: 40px;
    background-color: #4f46e5;
    color: white;
    font-weight: 300;
    border: none;
    border-radius: 5px;
    font-size: small;
    text-align: center;
    margin: 2px;
    
  }
  
  .search-teacher__action-button--delete {
      background-color: red; /* Specific style for delete button */
      padding: 5px;
  
      height: 40px;
    
      color: white;
      font-weight: 300;
      border: none;
      border-radius: 5px;
      font-size: small;
      text-align: center;
      margin: 2px;
  }
  
  .search-teacher__action-button:not(:last-child) {
      margin-right:5px; /* Add space between buttons */
  }
  .search-teacher{

    margin-left: 30%;
    width: 100%;
  }
  .search-teacher__search-area{

    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 30%;
  }
  .search-teacher__selector-text-data{
    font-weight: 400;
  }
  .search-teacher__table-header{
    border-bottom: 1px solid #ccc;
  }