
.side-navbar-container {
  width: 20%;
  height: 80vh;
  border-right: 1px solid #d1d0d0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.Footer-container {
  position: absolute;
  font-weight: 500;
  margin-top: 0%;
  margin-left: 15px;
  bottom: 20px;
}
.side-Navbar-container-heading {
  padding: 20px;
  
  height: 10px;
  display: flex;
  margin-top: 20px;
  border: 1px solid black;
  box-shadow: none !important;
  outline: none !important;
  align-items: center;
  margin-left: 2%;
  border-radius: 10px;
  width: 100%;
  position: relative;
}
.side-Navbar-container-heading:hover {
  cursor: pointer;
}
.side-Navbar-container-heading-container {
  position: relative;
  bottom: 10%;
  right: 72px;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  color:#747474;
}

.dropdown-menu {
  padding-left: 20px;
  margin: 0;
  margin-left: 10px;
  margin-top: 20px;
}
.dropdown-menu-li {
  padding: 10px;
  list-style: none;
  cursor: pointer;
}

.dropdown-menu-li {
  padding: 3px;
  font-size: small;
  transition: background 0.3s ease, color 0.3s ease;
}
.dropdown-menu-li::after {
  content: "──";
  margin-right: 8px;
  color: #747474;
  font-size: 14px;
  position: absolute;
  left: -10%;
  
}

.dropdown-menu-li:hover {
  cursor: pointer;
  padding: 3px;
  color: #4f46e5;
}

@media (max-width: 1024px) {
  .side-navbar-container {
    width: 25%;
    height: 80vh;
    border-right: 1px solid #d1d0d0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.side-navbar-heading-container ul{

  border-left: 1px solid #747474;
  margin-left: 19%;
  width: 100%;
  
  
}

