/* TimetableForm.css */
.timetable-form {
    font-family: sans-serif;
    padding: 20px;
    margin: 0;
    display: flex;
    
  }
  
  .timetable-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .period {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 130px;
    background-color: #3e8e41;
  }
  
  .period label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size:13px;
  }
  
  .period input[type="time"],
  .period input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
  }
  
  .timetable-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
.timetable__title {

  /* margin-right: 55%; */
  margin-top: 3%;
  font-size: 32px;
  margin-left: 3%;
  
}

  .timetable-form button:hover {
    background-color: #3e8e41;
  }
  .schedule-form{

    
    max-height: 80vh; /* Keeps the height constrained within the viewport */
  overflow-y: auto; /* Adds a vertical scrollbar */
  padding: 20px;
  background-color: #3e8e41;
  margin: 0 auto;
  width: 100%;
  border-radius: 5px;
  display: flex;
  }
  .timetable-container{

    margin-top: 20px;
    margin-left: 60%;
    width: 100%;
    
  }
  .btn-timetable{

    height: 50px;
    width: 100px;
    text-align: center;
    margin: 5px;
  }