/* View exam details */
.View_Exam__title {
  font-size: 24px;
  text-align: left; /* Align title to the left */
  margin-left: 2%; /* Reset margin for the title */
  margin-top: 3%;
  margin-right: 113%;
}

/* General Container for View Exam */
.view-Exam-container {
  margin-top: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start */
  width: 100%;
  
  padding: 20px;
  
  border-radius: 8px;
  font-family: Arial, sans-serif;
  /* margin-left: 1%; */
  height: 72vh;
}

/* Title Styling */
.view-Exam-container h1 {
  text-align: left;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Exam Header Row */
.exam-header-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  white-space: nowrap;       
  display: inline-block;  
}

/* Label and Input Row */
.label-input-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.label-input-row label {
  font-weight: bold;
  margin-right: 10px;
  color: black;
  font-size: 14px;
}

.label-input-row p {
  margin-left: 2px;
  font-size: 16px;
  color: #444;
}

/* Exam Details Table */
.exam-details-table {
  width: 80%;
  border-collapse: collapse;
  margin-left: 14%;
}

.exam-details-table th, .exam-details-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  align-items: center;
}

.exam-details-table th {
  background-color: #f0f0f0;
}

/* Button Container */
.button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  position: absolute;
  right: 32%;
}

/* General Button Styling */
.button-container button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

/* Edit Button Styling */
.button-container .edit-button {
  background-color: #4F46E5;
  margin-right: 10px;
}

/* Delete Button Styling */
.button-container .delete-button {
  background-color: #FF0000;
}

.View_Exam_header {
  display: flex;
  align-items: center;
  width: 50%;
  white-space: nowrap;       
}

.View_Exam__input-dropdown {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #D1D0D0;
  margin-top: 2%; 
  margin-left: 10px;
  /* Add some space after the dropdown */
}

.exam-details-table td{

  width: 30%;
}
/* Optional: Responsive Design */
@media screen and (max-width: 768px) {
  .view-Exam-container {
    margin-left: 10%;
    width: 80%;
  }
  .exam-details-table {
    font-size: 14px;
  }
}
