* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  position: relative;
}

/*Login page*/

.Logoname_contaier {
  display: flex;

  align-items: "center";
  margin: 20px;
}
.Logoname_contaier_1 {
  display: flex;
  gap: 25px;
  align-items: center;

  width: 100%;
}
.Logoname_contaier_2 {
  display: flex;
  width: 40%;
  align-items: center;
}
.schoolname {
  font-size: 20px;
  
}
.schoolname1{
  
  font-size: 20px;
}
.Login-container_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  flex-direction: column;
  gap: 10px;
}
.Login-container {
  background-color: white;
  height: 310px;
  width: 300px;
  border-radius: 30px;
  border: 1px solid black;
}

.Logoname_contaier_3 {
  position: absolute;
  font-weight: 500;
  margin-top: 37%;
  margin-left: 15px;
}
.full-container {
  position: relative;
}
.input {

  padding: 8px;
  border-radius: 15px;
  box-shadow: none !important;
  outline: none !important;
  border: 1px solid black;
  text-align: center;

}
.btn{
  padding: 10px;
  width: 70px;
  background-color: #A5C2E0;
  box-shadow: none !important;
  outline: none !important;
  border:none;
  border-radius: 5px;
  font-size: medium;
  
}

.btn-1{
  padding: 10px;
  width: 70px;
  background-color:#22C55E;
  box-shadow: none !important;
  outline: none !important;
  border:none;
  border-radius: 5px;
  font-size: medium;
  color: white;
  
}

/* Header */

.Header-Contaier-Navbar {
  display: flex;

  align-items: "center";
  margin: 20px;
}
.Header-Contaier-Navbar-start {
  display: flex;
  gap: 25px;
  align-items: center;

  width: 100%;
}
.Header-Contaier-Navbar-end {
  display: flex;
  width: 40%;
  align-items: center;
}
.Header-Contaier-Navbar-end-1{

  padding-right: 20px;
  font-weight:600;

}
.Header-Container{
  border-bottom: 1px solid #D1D0D0;
}

/* side navbar */

.side-navbar-container{

  width: 20%;
  height: 80vh;
  border-right:1px solid #D1D0D0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.Footer-container {
  position: absolute;
  font-weight: 500;
  margin-top: 1%;
  margin-left: 15px;
}
.side-Navbar-container-heading{

  padding: 20px;
  
  height: 10px;
  display: flex;
  margin-top: 20px;
  border:1px solid black;
  box-shadow: none !important;
  outline: none !important;
  align-items: center;
  /* justify-content: center; */
  border-radius: 10px;
  width: 100%;
  
  
}
.side-Navbar-container-heading:hover{

  cursor: pointer;

}
.side-Navbar-container-heading-container{
  position: relative;
  bottom: 10%;
  right: 72px;

}
ul {
  list-style-type: none; /* Removes bullet points */
  padding-left: 0; /* Removes left padding */
  margin: 0; /* Removes margin */
}

.dropdown-menu {
  list-style-type: none; /* Removes bullet points from the dropdown menu */
  padding-left: 0; /* Removes left padding */
  margin: 0; /* Removes margin */
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}



/* common styles for content container*/


.Common-Content-container-container1{
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  gap: 20px; 
  width: 100%;
  margin-top: 20px;
}

.Common-Content-container-container1-input {
  padding: 8px;
  border-radius: 15px;
  border: 2px solid #D1D0D0;
  text-align: center;
  width: 200px;
  margin: 0; 
  margin-left: 20px;
}

.Common-Content-container-container1-btn{
  padding: 10px;
  width: 110px; 
  height: 40px;
  background-color: #4F46E5;
  color: white;
  font-weight: 300;
  border: none;
  border-radius: 5px;
  font-size: medium;
  text-align: center;
  cursor: pointer;
}
.Common-Content-container{

  margin-top: 20px;
  margin-left: 10px;
}

/* Attendance content */

.C-C-C-container1{
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  gap: 20px; 
  width: 100%;
  margin-top: 6%;
}

.C-C-C-input-Attendance {
  padding: 8px;
  border-radius: 15px;
  border: 2px solid #D1D0D0;
  text-align: center;
  
  margin: 0; 
  margin-left: 20px;
}

.C-C-C-btn-Attendance{
  padding: 10px;
  width: 110px; 
  height: 40px;
  background-color: #4F46E5;
  color: white;
  font-weight: 300;
  border: none;
  border-radius: 5px;
  font-size: medium;
  text-align: center;
  cursor: pointer;
}
.C-C-C-btn-Export-Attendance{
  padding: 10px;
  width: 110px; 
  height: 40px;
  background-color: White;
  color:black;
  font-weight: 300;
  border: 2px solid #D1D0D0;
  border-radius: 5px;
  font-size: medium;
  text-align: center;
  cursor: pointer;
  margin-left: 3%;
}
.Common-Content-container{

  margin-top: 20px;
  margin-left: 10px;
}
.C-C-C-head{

  display: flex;
}
.C-C-C-input-date-Attendance{

  padding: 8px;
  border-radius: 15px;
  border: 2px solid #D1D0D0;
  text-align: center;
  
  margin: 0; 
  margin-left: 50%;
}
.C-C-C-btn-View-Attendance{
  padding: 10px;
  width: 210px; 
  height: 40px;
  background-color: #4F46E5;
  color: white;
  font-weight: 300;
  border: none;
  border-radius: 5px;
  font-size: medium;
  text-align: center;
  cursor: pointer;
  margin-left: 20%;
  position: absolute;
  left: 97%;
}
.C-C-C-input-Search-Attendance {
  padding: 8px;
  border-radius: 15px;
  border: 2px solid #D1D0D0;
  position: absolute;
  width: 30%;
  margin: 0; 
  margin-left: 20px;
  right: 60%;
}
.C-C-C-container2{
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  gap: 20px; 
  width: 100%;
  margin-top: 6%;
  font-weight: 300;
  border-bottom: 1px solid #D1D0D0;
  padding-bottom: 10px;
  margin-left: 10%;
}

.C-C-C-container1-p{

  font-weight:bold;
  margin-left: 5%;
}

/* Subject and grades */